<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

<footer id="footer">
    <p>Powered by Ysj , Ljs , Ysh 🔞 📱 010 1234 1234</p>
</footer>
</body>
</html>